body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #101010;
}

h1 {
    color: #FAF9F6;
    font-family: 'Avenir';
    font-size: 3rem; 
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    text-align: left; 
    line-height: 0.8;
    letter-spacing: 0.65rem;
}

#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#header {
    width: 100%;
    padding: 20px 0;
}

#profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

#info {
    max-width: 600px; 
    text-align: center;
    color: #86868b;
    position: relative;
}

i {
    font-size: 2rem;
}

#info p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 2.5;
    font-size: 1.16rem;
    font-family: 'Avenir';
    margin-top: 3em;
}

#profilePic {
    width: 20rem; 
    height: auto;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.106);
    margin-bottom: 10rem;
    background-color: #86868b;
    overflow: hidden;
    display: block;

}

#namasteSvg {
    position: absolute;
    top: 3em;
    right: 0;
    z-index: 10;
}

#socialIcons img {
    width: 2em;
    height: 2em;
    margin: 0.5em;
}

.linkedin-icon i, .email-icon i, .github-icon i {
    color: white;
    opacity: 0.75;
    transition: opacity 0.3s;
}

.linkedin-icon:hover i, .email-icon:hover i, .github-icon:hover i {
    opacity: 1;
}

.content {
    text-align: center;
    position: relative;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 1.5em;
}

.projects-title {
    font-family: 'Avenir';
    font-size: 3rem; 
    color: #FAF9F6;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-top: 2.5em;
}

.title-line {
    position: left;
    bottom: 0;
    left: 50%;
    height: 0.07em;
    width: 220%;
    background-color: #FAF9F6;
    opacity: 0.15;
    border-radius: 1em;
}

@keyframes drawText {
    to {
        stroke-dashoffset: 0;
    }
}

svg text {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: drawText 5s forwards;
}

@media (max-width: 768px) {
    #profile {
        flex-direction: column;
    }

    #info, #profilePic {
        width: 100%;
        margin-bottom: 1em;
        max-width: 90%;
    }

    #namasteSvg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 20px);
        z-index: 10;
    }

    h1, .projects-title {
        text-align: center;
        font-size: calc(1rem + 1.5vw);
    }

    .content, .icon-container, #header {
        text-align: center;
        padding: 1em;
    }

    .title-line {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 480px) {
    h1, .projects-title {
        font-size: calc(0.8rem + 1.5vw);
    }
    
}
