@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@300&display=swap');


.App {
  text-align: center;
  color: white;
  background-color: #101010;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-x: hidden; /* Hide horizontal overflow */
  position: relative; /* Needed for absolute positioning of children */
}

.header {
  display: grid;
  grid-template-columns: 3fr 2fr; /* Added an 'auto' sized column for the namaste text */
  grid-template-areas:
    'name photo'
    'icons2 icons'
    'intro intro';
  align-items: start;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
  padding-top: 10rem;
}

.name {
  grid-area: name;
  font-size: 5rem; /* Increased font size */
  line-height: 1.2;
  margin: 0; /* Removed margin to standardize spacing */
  text-align: left; /* Align text to the left */
  font-family: 'Roboto', sans-serif; /* Ensure the font-family is correctly stated */
  font-weight: 100; /* Use 100 for the font-weight as imported */
  letter-spacing: 0.75rem;
  padding-left: 1rem; /* Add padding to match the intro text */
}

.name2 {
  grid-area: name;
  font-size: 5rem; /* Increased font size */
  line-height: 1.2;
  margin: 0; /* Removed margin to standardize spacing */
  text-align: left; /* Align text to the left */
  font-family: 'Roboto', sans-serif; /* Ensure the font-family is correctly stated */
  font-weight: 100; /* Use 100 for the font-weight as imported */
  letter-spacing: 0.5rem;
  padding-left: 1rem; /* Add padding to match the intro text */
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.icon-container {
  display: flex;
  justify-content: center; /* Center the icons directly */
  gap: 5rem; /* Space out the icons */
  margin-top: 1rem; /* Spacing between photo and icons */
  font-size: 1.7rem; /* Icon size */
  grid-area: icons;
  padding-bottom: 1rem;
}


.icon-container a {
  color: white; /* Icon color */
  text-decoration: none; /* Remove underline from icons */
  transition: color 0.4s ease; 
}

.icon-container a:hover {
  color: gray; /* Icon hover color */
}

.profile-photo {
  grid-area: photo;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  border: none;
  padding: 10px;
  justify-self: center; /* Center the photo in its grid area */
  
}
.photo-wrapper {
  grid-area: photo;
  width: 15rem; /* Slightly larger to include padding */
  height: 15rem;
  border-radius: 100%;
  background-color: rgba(134, 134, 139, 0.07); /* Grey background with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center; /* Center the wrapper in its grid area */
  
}


.intro-text {
  grid-area: intro;
  text-align: justify; /* Justify the text for better filling */
  font-size: 1.7rem;
  margin: 0; /* Align the top and bottom margin with the name */
  padding: 1rem; /* Add padding to match the name element */
  font-family: 'Nunito'; /* Ensure the font-family is correctly stated */
  letter-spacing: 0.145rem; /* Adjust letter spacing as needed */
}
.section-title {
  font-size: 2.5rem;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  margin: 3rem 0;
  position: relative;
  letter-spacing: 0.145rem;

}
.section-title:after {
  content: '';
  display: block;
  width: 100%; /* Full width */
  height: 3px;
  background: linear-gradient(to right, rgba(134, 134, 139, 0), rgba(41, 41, 43, 0.75), rgba(134, 134, 139, 0));
  margin: 1rem auto;
}


/* Mobile View */
@media (max-width: 768px) {
  .header {
    grid-template-areas:
      'name'
      'photo'
      'icons'
      'intro';
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 1rem;
  }

  .name, .name2 {
    /* Adjusted styles for mobile view */
    font-size: 2.8rem;
    text-align: center;
    letter-spacing: normal; /* Adjust as needed */
    margin-top: 4rem; /* Provide spacing from icons */
    letter-spacing: 0.75rem;
    line-height: 2.5rem;
  }

  .icon-container {
    /* Ensure icons stay below the photo in mobile view */
    padding-bottom: 1rem;
    padding-bottom: 1rem;
    gap: 4.5rem;
    font-size: 1.45rem;
    
  }

  .profile-photo {
    /* Adjustments for mobile view */
    width: 12rem;
    height: 12rem;
    margin: 0 auto; /* Center the photo */
  }
  .photo-wrapper {
    width: 12rem; /* Adjust size as needed */
    height: 12rem; /* Keep square for perfect circle */
    border-radius: 50%; /* Maintain circular shape */
    background-color: rgba(134, 134, 139, 0.07); /* Grey background with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center; /* Ensure centering within the grid */
    padding: 0; /* Remove padding to eliminate any unwanted space */
  }


  .intro-text {
    /* Adjusted styles for mobile view */
    font-size: 1rem;
    text-align: justify; /* Ensure consistent alignment */
    padding: 10px; /* Adjust padding for better text block */
  }

  .section-title {
    padding: 1rem;
  
  }
}